body {
    background-color: #f0f0f0;
    font-family: 'Abel', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans;
    font-weight: bold;
}

.logo {
    position: relative;
    bottom: 100px;
    height: 105px;
    width: 105px;
}

body > div > div.row > div.col-xs-12.div-image {
    height: 1px;
}

.s-w-b-c {
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 70px;
}

.v-d-w-d {
    font-weight: bold;
    padding: 0;
    margin-bottom: 50px;
}

.xs-from-park-city {
    margin-bottom: 40px;
}

.xs-big-buttons {
    margin-bottom: 100px;
}

.codeup-header {
    font-size: 50px;
    padding: 0;
    margin: 50px;
}

.btn-circle {
    color: white;
    margin: 10px;
    width: 160px;
    height: 160px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border: 10px solid white;
    border-radius: 100px;
}

.xs-b-1 {
    background-color: #E6563B;
}

.xs-b-2 {
    background-color: #EB9D3A;

}

.xs-b-3 {
    background-color: #7CB06C;
}

.xs-b-4 {
    background-color: #00ABA9;

}

.selected-work {
    margin-bottom: 40px;
}

.smaller-headings {
    font-size: 20px;
}

.border {
    background-color: lightgrey;
    border: solid lightgrey;
    border-radius: 10px;
}

.small-button {
    margin: 0;
    padding: 0;
    height: 18px;
    width: 18px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    color: black;
    border-radius: 50%;
}

.sm-swbc {
    position: relative;
    bottom: 160px;
}