* {
    background-color: #F0F0F0 ;
}

p {
    font-family: 'Abel', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

.navbar {

    margin-top: 100px;

}

.top-header {
    text-align: center;
    list-style: none;
}

ul {
    list-style-type: none;
}

ul p {
    padding: 25px;
}